@media (min-width: 901px) {
	body, html {
		background: url(../assets/moonlightdream.png);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color: black;
		color: black;
		margin: 0;
		padding: 0;
		font-family: "Noto Serif JP", serif;
		scroll-behavior: smooth;
	}
	
	header {
		position: fixed;
		padding: 2px 10px;
		width: 100%;
		z-index: 1;
		display: flex;
		align-items: center;
		height: 10%;
		justify-content: space-between;
		background: rgba(255, 255, 255, 0.49);
		backdrop-filter: blur(10px);
	}
	
	button, input, textarea {
		font-family : inherit;
	}

	.comingsoon {
		padding-right: 20px;
	}
	
	.home {
		padding-left: 20px;
		color: black;
		text-decoration: none;
		font-size: 30px;
		font-weight: bold;
		transition: 0.3s ease-in-out;
	}
	
	.home:hover {
		color: rgb(87, 0, 174);
	}
	
	.links ul {
		list-style: none;
		gap: 5%;
	}
	
	.links li {
		padding: 10px;
		display: inline;
	}
	
	.links li a, p {
		color: black;
		text-decoration: none;
		font-size: 18px;
		transition: 0.3s ease-in-out;
	}
	
	.links a:hover, p:hover {
		color: rgb(87, 0, 174);
	}
	
	.title {
		display: flex;
		justify-content: center;
		color: black;
		align-items: center;
		height: 100vh;
	}
	
	.title h1 {
		font-size: 5vh;
		animation: 0.5s fadeup ease-in-out forwards;
	}
	
	.content {
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(10px);
		display: flex;
		justify-content: center;
		color: white;
		align-items: center;
		height: 100vh;
	}
	
	.widget {
		width: 800px;
		flex-direction: column;
		align-items: center;
		color: white;
		background: rgb(0, 0, 0);
		height: 200px;
		display: flex;
		justify-content: center;
		gap: 20px;
		padding: 50px;
		margin: 30px;
	}
	
	.widget p {
			color: white;
	}
	
	.footer {
		padding-top: 40px;
		padding-left: 100px;
		height: 50vh;
		color: white;
		background-color: black;
		padding-bottom: 20px;
	}
	
	.footer ul {
		list-style: none;
		gap: 5%;
	}
	
	.footer li {
		padding-top: 10px;
	}
	
	.footer a {
		color: white;
		text-decoration: none;
		font-size: 18px;
		transition: 0.3s ease-in-out;
	}
	
	.footer a:hover {
		color: rgb(87, 0, 174);
	}
	
	.footer p {
		color: white;
	}
	
	@keyframes fadeup {
		0% {
			opacity: 0;
			transform: translateY(30px);
		}
	
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@media (max-width: 900px) {
		body {
			text-align: center;
	}
}